

.container {
  margin: 2rem;
  padding: 1rem;
display: flex;
align-items: center;
justify-content: center;
width: 5rem;
}

input {
  width: 5rem;
}

.sliders {
  display: flex;
  flex-direction: column;
}
.colorSwatch {
  width: 10rem;
  height: 10rem;
}